# Problem 1: Multiples of 3 or 5
If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

## Solution

If $x_i \% 3 = 0$, so $x_n = 3n$. It must be $x_n=3n<1000$, so $n<=333$.


The same: $y_i \% 5 = 0$, so $y_m = 5m$. It must be $y_m= 5m<1000$, so $m <= 199$.


But if we sum the sums we will count some numbers twice: $z_k \% 15 = 0$. So we need to distract this sum. 

It must be $z_k = 15k < 1000$, so $k<=66$.

We need to count: $3\sum_{n=1}^{333} n + 5 \sum_{m=1}^{199} m - 15 \sum_{k=1}^{66} k$

In [9]:
def count_sum_i(end):
    if end < 1:
        raise ValueError("End must be >= 1")
    return (1 + end) / 2 * end

## Answer

In [13]:
print(3*count_sum_i(333) + 5*count_sum_i(199) - 15*count_sum_i(66))

233168.0

# Problem 2: Even Fibonacci Numbers
Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first terms will be: 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

## Solution

We know that:

$even + even = even$

$even + odd = odd$

$odd + odd = even$

In Fibonacci numbers beginning from 1 and 2, we will have:

$odd, even, odd, odd, even, odd, odd, even, odd, odd, even, ...$

So even valued terms have indexes: 2, 5, 8, 11, ..., so $i_n = 2 + (n-1)*3$

In [26]:
def fibonacci_count(a_n_2, a_n_1):
    if a_n_1 < a_n_2: raise ValueError("a(n-1) must be more than a(n-2)")
    return a_n_2 + a_n_1

In [40]:
def even_fib_sum(start_1, start_2, limit):
    a_n_2 = start_1 # a(n-2)
    a_n_1 = start_2 # a(n-1)

    sum = 2
    k = 1
    flag = True

    while  flag:
        a_n = fibonacci_count(a_n_2, a_n_1)
        if a_n <= limit:
            if k == 3: # every third Fibonacci number is even
                sum+=a_n
                k=0
            a_n_2 = a_n_1
            a_n_1 = a_n
        else:
            flag = False
        k += 1
    return sum

## Answer

In [42]:
START_1 = 1
START_2 = 2
LIMIT = 4000000 # a_n <= LIMIT

print(even_fib_sum(START_1, START_2, LIMIT))

4613732

# Problem 2 Bonus: Odd Fibonacci Numbers
Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first terms will be: 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the odd-valued terms.

## Solution

In [43]:
def odd_fib_sum(start_1, start_2, limit):
    a_n_2 = start_1 # a(n-2)
    a_n_1 = start_2 # a(n-1)

    sum = 1
    k = 1
    flag = True

    while  flag:
        a_n = fibonacci_count(a_n_2, a_n_1)
        if a_n <= limit:
            if k == 1 or k == 2: # every third Fibonacci number is even
                sum+=a_n
                k=0
            a_n_2 = a_n_1
            a_n_1 = a_n
        else:
            flag = False
        k += 1
    return sum

## Answer

In [48]:
START_1 = 1
START_2 = 2
LIMIT = 4000000 # a_n <= LIMIT

print(odd_fib_sum(START_1, START_2, LIMIT))

9227461

# Problem 3: Largest Prime Factor
The prime factors of 13195 are 5, 7, 13 and 29.

What is the largest prime factor of the number 600851475143?

## Solution

First, we need a function to distinguish prime numbers

In [28]:
def is_prime_int(num):
    if not isinstance(num, int):
        raise ValueError("Number must be an integer")
    if num <= 1: 
        raise ValueError("Number must be >1")
    if num % 2 == 0:
        return num == 2
    if num == 3: 
        return True
    
    factor = 3
    while factor * factor <= num:
        if num % factor == 0:
            return False
        factor += 2 # we already checked if num is even and odd cannot have any even factors
    return True

In [34]:
is_prime_int(600851475143)

False

Now we need a function to find largest prime factor

In [57]:
def largest_prime_factor(num):
    largest_prime_factor = -1

    while num % 2 == 0:   # after it num is odd
        num //= 2
        largest_prime_factor = 2
    
    factor = 3
    while factor * factor <= num:
        if num % factor == 0:
            quotient = num // factor
            if is_prime_int(factor) and factor > largest_prime_factor:
                largest_prime_factor = factor
            if is_prime_int(quotient) and quotient> largest_prime_factor:
                largest_prime_factor = quotient
        factor += 2 # num is odd now so only odd numbers could be factors
    
    return largest_prime_factor

## Answer

In [58]:
NUMBER = 600851475143

print(largest_prime_factor(NUMBER))

6857

# Problem 4: Largest Palindrome Product
A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009=91*99.

Find the largest palindrome made from the product of two 3-digit numbers.

## Solution

If $100<= x, y < 1000$, so $10000 <= xy< 1000000$. We are looking for the largest, so we can suppose xy is 6-digit number.

In [103]:
def is_palindrom(num):
    num = [int(n) for n in list(str(num))]

    len_num = len(num)
    for i in range(len_num // 2):
        if num[i] != num[len_num - i - 1]:
            return False
            
    return True

In [104]:
is_palindrom(513515)

False

In [109]:
def largest_palindrom_product(digit):
    max_n = 10**(digit) - 1
    i, j = max_n, max_n
    largest_product, larg_i, larg_j = 0, 0, 0

    for m in range(9*10**(digit-1)-1):
        for _ in range(m):
            product = i*j
            if is_palindrom(product) and product > largest_product:
                largest_product, larg_i, larg_j= product, i, j
            j -= 1
        i-=1
        j=max_n
    return largest_product, larg_i, larg_j

## Answer

In [111]:
largest_palindrom_product(4)

(99000099, 9901, 9999)

# Problem 5: Smallest Multiple
2520 is the smallest number that can be divided by each numbers from 1 to 10 without any remainder.

What is the smallest positive number that is evenly divisible by all of the numbers from 1 to 20?

## Solution

In [293]:
def max_degree(nums):
    len_nums = len(nums)
    degree = {}
    keys = nums.copy()
    values = [0 for _ in range(len_nums)]
    degree = dict(zip(keys, values))
    for num in nums:
        num_in_degree = num
        while num_in_degree <= nums[len_nums - 1]:
            if num_in_degree in nums:
                degree[num] += 1
            num_in_degree *= num
    return degree

In [294]:
def divisors(num):
    divisors = []
    while num % 2 == 0:
        divisors.append(2)
        num //= 2
    
    k = 3
    while k <= num:
        while num % k == 0:
            divisors.append(k)
            num //= k
        k += 1
    return divisors

In [ ]:
def smallest_multiple(max_divisor):
    multiples = [i for i in range(2, max_divisor + 1)]

    # key=multiple, value=degree=0 for beginning
    to_multiple = {}
    keys = multiples.copy()
    for key in keys:
        to_multiple[key] = 0

    # change degrees if needed
    for i in range(max_divisor-1):
        divisors_i = divisors(multiples[max_divisor - 2 - i])
        max_degree_i = {}
        keys = sorted(list(set(divisors_i)))
        for key in keys:
            max_degree_i[key] = divisors_i.count(key)
            if max_degree_i[key] > to_multiple[key]:
                to_multiple[key] = max_degree_i[key]
    
    # multiple key**degree for all multiples
    product = 1
    keys = multiples.copy()
    for key in keys:
        product *= key**to_multiple[key]
    
    return product

## Answer

In [303]:
MAX_DIVISOR = 20
print(smallest_multiple(MAX_DIVISOR))

232792560

# Problem 6: Sum Square Difference
The sum of the squares of the first ten natural numbers is,
$1^2 + 2^2 + ... + 10^2 = 385$

The square of the sum of the first ten natural numbers is,
$(1 + 2 + ... + 10)^2 = 3025$

Hence the difference between the sum of the squares of the first ten natural numbers and the square of the sum is $3025-385=2640$.

Find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum.

## Solution

$(a_1 + ... + a_n)^2 = \sum_{k=1}^{n} a_k^2 + 2\sum_{i, j=1, i≠j}^{n} a_i a_j$


So $(a_1 + ... + a_n)^2 - a_1^2 - ... - a_n^2 = 2\sum_{i, j=1, j>i}^{n} a_i a_j$

In [305]:
def sum_square_difference(num):
    sum = 0
    for i in range(1, num+1):
        for j in range(i+1,num+1):
            sum += i * j
    return 2*sum

## Answer

In [307]:
sum_square_difference(100)

25164150